<head>
    <title>Label Template</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class='print-area'>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_1 }}
                </div>
                {% if item_id_1 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_1)}}"/>
                {% endif %}
                <div class='item-number'>
                    {{ item_id_1 }}
                </div>
                <div class='symbol {{ color_1 }}'>
                    {{ symbol_1 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_2 }}
                </div>
                {% if item_id_2 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_2)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_2 }}
                </div>
                <div class='symbol {{ color_2 }}'>
                    {{ symbol_2 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_3 }}
                </div>
                {% if item_id_3 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_3)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_3 }}
                </div>
                <div class='symbol {{ color_3 }}'>
                    {{ symbol_3 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_4 }}
                </div>
                {% if item_id_4 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_4)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_4 }}
                </div>
                <div class='symbol {{ color_4 }}'>
                    {{ symbol_4 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_5 }}
                </div>
                {% if item_id_5 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_5)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_5 }}
                </div>
                <div class='symbol {{ color_5 }}'>
                    {{ symbol_5 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_6 }}
                </div>
                {% if item_id_6 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_6)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_6 }}
                </div>
                <div class='symbol {{ color_6 }}'>
                    {{ symbol_6 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_7 }}
                </div>
                {% if item_id_7 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_7)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_7 }}
                </div>
                <div class='symbol {{ color_7 }}'>
                    {{ symbol_7 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_8 }}
                </div>
                {% if item_id_8 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_8)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_8 }}
                </div>
                <div class='symbol {{ color_8 }}'>
                    {{ symbol_8 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_9 }}
                </div>
                {% if item_id_9 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_9)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_9 }}
                </div>
                <div class='symbol {{ color_9 }}'>
                    {{ symbol_9 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_10 }}
                </div>
                {% if item_id_10 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_10)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_10 }}
                </div>
                <div class='symbol {{ color_10 }}'>
                    {{ symbol_10 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_11 }}
                </div>
                {% if item_id_11 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_11)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_11 }}
                </div>
                <div class='symbol {{ color_11 }}'>
                    {{ symbol_11 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_12 }}
                </div>
                {% if item_id_12 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_12)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_12 }}
                </div>
                <div class='symbol {{ color_12 }}'>
                    {{ symbol_12 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_13 }}
                </div>
                {% if item_id_13 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_13)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_13 }}
                </div>
                <div class='symbol {{ color_12 }}'>
                    {{ symbol_13 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_14 }}
                </div>
                {% if item_id_14 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_14)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_14 }}
                </div>
                <div class='symbol {{ color_14 }}'>
                    {{ symbol_14 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_15 }}
                </div>
                {% if item_id_15 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_15)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_15 }}
                </div>
                <div class='symbol {{ color_15 }}'>
                    {{ symbol_15 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_16 }}
                </div>
                {% if item_id_16 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_16)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_16 }}
                </div>
                <div class='symbol {{ color_16 }}'>
                    {{ symbol_16 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_17 }}
                </div>
                {% if item_id_17 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_17)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_17 }}
                </div>
                <div class='symbol {{ color_17 }}'>
                    {{ symbol_17 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_18 }}
                </div>
                {% if item_id_18 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_18)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_18 }}
                </div>
                <div class='symbol {{ color_18 }}'>
                    {{ symbol_18 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_19 }}
                </div>
                {% if item_id_19 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_19)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_19 }}
                </div>
                <div class='symbol {{ color_19 }}'>
                    {{ symbol_19 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_20 }}
                </div>
                {% if item_id_20 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_20)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_20 }}
                </div>
                <div class='symbol {{ color_20 }}'>
                    {{ symbol_20 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_21 }}
                </div>
                {% if item_id_21 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_21)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_21 }}
                </div>
                <div class='symbol {{ color_21 }}'>
                    {{ symbol_21 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_22 }}
                </div>
                {% if item_id_22 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_22)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_22 }}
                </div>
                <div class='symbol {{ color_22 }}'>
                    {{ symbol_22 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_23 }}
                </div>
                {% if item_id_23 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_23)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_23 }}
                </div>
                <div class='symbol {{ color_23 }}'>
                    {{ symbol_23 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_24 }}
                </div>
                {% if item_id_24 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_24)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_24 }}
                </div>
                <div class='symbol {{ color_24 }}'>
                    {{ symbol_24 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_25 }}
                </div>
                {% if item_id_25 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_25)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_25 }}
                </div>
                <div class='symbol {{ color_25 }}'>
                    {{ symbol_25 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_26 }}
                </div>
                {% if item_id_26 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_26)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_26 }}
                </div>
                <div class='symbol {{ color_26 }}'>
                    {{ symbol_26 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_27 }}
                </div>
                {% if item_id_27 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_27)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_27 }}
                </div>
                <div class='symbol {{ color_27 }}'>
                    {{ symbol_27 }}
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='label'>
                <div class='item-description'>
                    {{ description_28 }}
                </div>
                {% if item_id_28 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_28)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_28 }}
                </div>
                <div class='symbol {{ color_28 }}'>
                    {{ symbol_28 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_29 }}
                </div>
                {% if item_id_29 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_29)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_29 }}
                </div>
                <div class='symbol {{ color_29 }}'>
                    {{ symbol_29 }}
                </div>
            </div>
            <div class='label'>
                <div class='item-description'>
                    {{ description_30 }}
                </div>
                {% if item_id_30 %}
                <img class='data-matrix' src="{{label_tools.datamatrix(item_id_30)}}"/>
                {% endif %} 
                <div class='item-number'>
                    {{ item_id_30 }}
                </div>
                <div class='symbol {{ color_30 }}'>
                    {{ symbol_30 }}
                </div>
            </div>
        </div>
    </section>
</body>